@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Thunderhouse Pro';
    src: url(./font/ThunderhousePro.ttf)
}

body {
  background-image: url('/src/assets/backgorund/MENU1.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000000;
  font-family: "Thunderhouse Pro", sans-serif;
}