@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-color: #efebdb; */
  font-family: 'Raleway', sans-serif;
}

main {
  background-image: url('./assets/background/bg-white.png');
  background-size: cover;
}

.menu-header:after {
  display: block;
  content: '';
  border-bottom: solid 3px ;
  transform: scaleX(0);
  transition: transform 400ms ease-in-out;
}

.menu-header:hover:after {
  transform: scaleX(1);
  color: #af83c1;
}